---
// import { SITE } from '~/utils/config';
import Image from '../common/Image.astro';

export interface Props {
  id?: string;
  title?: string;
  subtitle?: string;
  tagline?: string;
  content?: string;
  image?: string | any; // TODO: find HTMLElementProps
}

const { image = await Astro.slots.render('image') } = Astro.props;
---

<div class="flex flex-1 lg:w-1/2 lg:h-auto relative lg:max-w-none lg:mx-0 mx-auto max-w-3xl">
  <div class="">
    <Image
      class="mr-3"
      sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
      loading="eager"
      {...image}
    />
</div>
