---
import Layout from '~/layouts/PageLayout.astro';
import Container from '~/components/MyCustomComponents/Container.astro';
import MyCustomImage from '~/components/common/MyCustomImage.astro';

const metadata = {
  title: 'Life At Advic',
};
---

<Layout metadata={metadata}>

  <section id="WhyChooseUSs" class="relative">
    <Container className="space-y-20 md:sapce-y-20">
      <header class="mx-auto max-w-3xl md:mb-16 text-center">
        <h1 class="" style="font-size: 40px; font-weight: bolder;">Life At Advic</h1><div
          class="mx-auto dark:text-slate-400 font-medium text-gray-500 text-xl"
        >
          Creating an enjoyable workplace and abundant chances for staff to explore and embrace new tech innovations.
          Amplifying productivity and skills, empowering employees to conquer both personal and professional ambitions.
        </div>
      </header>
    </Container>
  </section>

  <!-- FIrst Section Passionate Team -->
  <section style="margin-bottom: 5%;">
    <div class="mx-auto max-w-7xl w-full px-5 sm:px-8 md:px-14 lg:px-5 flex flex-row midmd:flex-row gap-5 lg:gap-12">
      <div class="flex flex-1 justify-center midmd:w-7/12 lg:w-1/2 flex-col">
        <div class="" style="margin-top: 100px;">
          <h1 class="text-heading-1 font-semibold text-2xl sm:text-3xl md:text-4xl">Passionate Team</h1><p
            class="md:text-lg text-heading-3 mt-8"
          >
            Our team is composed of passionate and skilled individuals who are driven by a shared mission to empower
            businesses through CRM solutions We value diversity, respect each other's perspectives, and celebrate our
            collective achievements
            <br /><br /><br />
          </p>
        </div>
      </div>
      <div
        class="max-w-full mx-auto midmd:max-w-none lg:mx-0 lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto"
      >
        <div class="w-full h-80 sm:h-96 midmd:h-full relative">
          <MyCustomImage
            class="w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full"
            style="max-width: 31vw;"
            src="~/assets/images/lifeatadvic1.jpg"
            alt="CRm MyCustomImage"
          />
        </div>
      </div>
    </div>
  </section>

  <!-- Inovation and Learning -->
  <section style="margin-bottom: 5%;">
    <div class="mx-auto max-w-7xl w-full px-5 sm:px-8 md:px-14 lg:px-5 flex flex-row midmd:flex-row gap-5 lg:gap-12">

        <div
        class="max-w-full mx-auto midmd:max-w-none lg:mx-0 lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto"
      >
        <div class="w-full h-80 sm:h-96 midmd:h-full relative">
          <MyCustomImage
            class="w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full"
            style="max-width: 31vw;"
            src="~/assets/images/Innovation-and-Learning.jpg"
            alt="CRm MyCustomImage"
          />
        </div>
      </div>

      <div class="flex flex-1 justify-center midmd:w-7/12 lg:w-1/2 flex-col">
        <div class="" style="margin-top: 100px;">
          <h1 class="text-heading-1 font-semibold text-2xl sm:text-3xl md:text-4xl">Innovation and Learning</h1><p
            class="md:text-lg text-heading-3 mt-8"
          >
            At advicio, we believe in staying at the forefront of CRM technology Our work culture encourages innovation,
            experimentation, and continuous learning We regularly attend industry events, workshops, and training
            sessions to sharpen our skills and explore emerging trends
            <br /><br /><br />
          </p>
        </div>
      </div>

      
    </div>
  </section>

  <!-- Customer Centric Focus  -->
  <section style="margin-bottom: 5%;">
    <div class="mx-auto max-w-7xl w-full px-5 sm:px-8 md:px-14 lg:px-5 flex flex-row midmd:flex-row gap-5 lg:gap-12">
      <div class="flex flex-1 justify-center midmd:w-7/12 lg:w-1/2 flex-col">
        <div class="" style="margin-top: 100px;">
          <h1 class="text-heading-1 font-semibold text-2xl sm:text-3xl md:text-4xl">Customer-Centric Focus</h1><p
            class="md:text-lg text-heading-3 mt-8"
          >
            Our customers are at the heart of everything we do We pride ourselves on understanding their unique needs
            and challenges, tailoring CRM solutions to suit their specific requirements Building strong, long-lasting
            relationships with our clients is a priority
            <br /><br /><br />
          </p>
        </div>
      </div>
      <div
        class="max-w-full mx-auto midmd:max-w-none lg:mx-0 lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto"
      >
        <div class="w-full h-80 sm:h-96 midmd:h-full relative">
          <MyCustomImage
            class="w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full"
            style="max-width: 31vw;"
            src="~/assets/images/Customer-Centric-Focus.jpg"
            alt="CRm MyCustomImage"
          />
        </div>
      </div>
    </div>
  </section>

  <!-- Collabartive Envriotment -->
  <section style="margin-bottom: 5%;">
    <div class="mx-auto max-w-7xl w-full px-5 sm:px-8 md:px-14 lg:px-5 flex flex-row midmd:flex-row gap-5 lg:gap-12">
      
      <div
        class="max-w-full mx-auto midmd:max-w-none lg:mx-0 lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto"
      >
        <div class="w-full h-80 sm:h-96 midmd:h-full relative">
          <MyCustomImage
            class="w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full"
            style="max-width: 31vw;"
            src="~/assets/images/Collaborative-Environment.jpg"
            alt="CRm MyCustomImage"
          />
        </div>
      </div>
      <div class="flex flex-1 justify-center midmd:w-7/12 lg:w-1/2 flex-col">
        <div class="" style="margin-top: 100px;">
          <h1 class="text-heading-1 font-semibold text-2xl sm:text-3xl md:text-4xl">Collaborative Environment</h1><p
            class="md:text-lg text-heading-3 mt-8"
          >
            Teamwork is an integral part of our culture We encourage collaboration across departments, ensuring that
            ideas flow freely and that everyone's contributions are valued Together, we tackle complex challenges and
            find creative solutions
            <br /><br /><br />
          </p>
        </div>
      </div>
    </div>
  </section>

  <!-- EMployee Growth and Development -->
  <section style="margin-bottom: 5%;">
    <div class="mx-auto max-w-7xl w-full px-5 sm:px-8 md:px-14 lg:px-5 flex flex-row midmd:flex-row gap-5 lg:gap-12">
      <div class="flex flex-1 justify-center midmd:w-7/12 lg:w-1/2 flex-col">
        <div class="" style="margin-top: 100px;">
          <h1 class="text-heading-1 font-semibold text-2xl sm:text-3xl md:text-4xl">
            Employee Growth and Development
          </h1><p class="md:text-lg text-heading-3 mt-8">
            We believe in nurturing our employees' talents and potential We offer opportunities for professional growth,
            provide regular feedback, and support personal development goals Our team members are encouraged to take on
            new responsibilities and expand their skill sets
            <br /><br /><br />
          </p>
        </div>
      </div>
      <div
        class="max-w-full mx-auto midmd:max-w-none lg:mx-0 lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto"
      >
        <div class="w-full h-80 sm:h-96 midmd:h-full relative">
          <MyCustomImage
            class="w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full"
            style="max-width: 31vw;"
            src="~/assets/images/Employee-Growth-and-Development.jpg"
            alt="CRm MyCustomImage"
          />
        </div>
      </div>
    </div>
  </section>

  <!-- Work Life balance  -->
  <section style="margin-bottom: 5%;">
    <div class="mx-auto max-w-7xl w-full px-5 sm:px-8 md:px-14 lg:px-5 flex flex-row midmd:flex-row gap-5 lg:gap-12">
      
      <div
        class="max-w-full mx-auto midmd:max-w-none lg:mx-0 lg:pr-10 xl:pr-2 flex-1 flex w-11/12 midmd:w-5/12 lg:w-1/2 midmd:h-auto"
      >
        <div class="w-full h-80 sm:h-96 midmd:h-full relative">
          <MyCustomImage
            class="w-auto left-1/2 -translate-x-1/2 absolute bottom-0 max-h-full"
            style="max-width: 31vw;"

            src="~/assets/images/Work-Life-Balance.jpg"
            alt="CRm MyCustomImage"
          />
        </div>
      </div>
      <div class="flex flex-1 justify-center midmd:w-7/12 lg:w-1/2 flex-col">
        <div class="" style="margin-top: 100px;">
          <h1 class="text-heading-1 font-semibold text-2xl sm:text-3xl md:text-4xl">Work-Life Balance</h1><p
            class="md:text-lg text-heading-3 mt-8"
          >
            We understand the importance of maintaining a healthy work-life balance Our flexible work arrangements and
            supportive policies enable our team to manage their personal commitments while excelling in their roles Fun
            and Celebration: While we take our work seriously, we also know how to have fun We organize team-building
            activities, social events, and celebrations to foster a positive and enjoyable work environment
            <br /><br /><br />
          </p>
        </div>
      </div>
    </div>
  </section>

  <Container className="space-y-20 md:sapce-y-20">
    <header class="mx-auto max-w-3xl md:mb-16 text-center mb-20">
      
      <div class="mx-auto dark:text-slate-400 font-medium md:mt-3 mt-2 text-gray-500 text-xl">
        In essence, life at advicio is about being part of a passionate team, contributing to meaningful projects, and growing both personally and professionally We are committed to making a difference in the world of CRM and are excited to welcome new team members who share our vision and values
      </div>
    </header>
  </Container>

</Layout>
